# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
my-cfhn-presence-stats

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Config
/config*.yml

# Web
/web/node_modules
